@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #F1F5FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
}
.title img{
    position: absolute;
    top: 40px;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}
h3{
    margin-top: 12px;
}
.mainCont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 540px;
    height: 397px;
    margin-top: 92px;
    border-radius: 6px; 
    box-shadow: 1px 1px 10px 1px #0000000b;
}
.sliderPageViews{
    position: absolute;
    top: 58px;
    left: 46px;
    font-size: 14px;
}
.sliderValue{
    position: absolute;
    top: 40px;
    left: 292px;
    font-size: 40px;
}
.sidekick{
    font-size: 16px;
    margin-left: 8px;
    color: #848EAD;
}
.toggleCont{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 26px;
}
.text{
    position: absolute;
    display: flex;
    top: 180px;
    left: 140px;
    font-size: 12px;
}
.year{
    margin-left: 100px;
}
.line{
    border: 1px solid #ECF0FB;
    width: 540px;
    margin-top: 40px;
}
.stats{
    position: absolute;
    top: 270px;
    left: 48px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
}
.stats, p{
    padding-top: 10px;
}
button{
    position: absolute;
    top: 310px;
    left: 326px;
    width: 170px;
    height: 40px;
    background-color: #293356;
    border-radius: 50px;
    color: #BECDFF;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Manrope';
}
button:hover{
    color: #ffffff;
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 400px;
    height: 8px;
    background-color: #A4F3EB;
    border-radius: 10px;
    position: absolute;
    top: 134px;
    left: 70px;

}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #10D8C4;
    cursor: grab;

}
input[type="range"]:hover::-webkit-slider-thumb{
    box-shadow: 2px 2px 30px 2px #00FFE799;
}
input[type="range"]:active::-webkit-slider-thumb{
    cursor: grabbing;
}
.toggle-control {
    display: none;
}
.toggle-label {
    position: relative;
    top: 20px;
    display: inline-block;
    width: 43px;
    height: 22px;
    background-color: #ddd;
    border-radius: 60px;
    cursor: pointer;
    user-select: none;
}
  
.toggleSlider {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
}
  
.toggle-control:checked + .toggle-label .toggleSlider {
    transform: translateX(20px);
}
  
.toggle-control:checked + .toggle-label:before {
    background-color: #8ce196;
}
  
.toggle-control:checked + .toggle-label:after {
    margin-left: 20px;
}
.checks{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 274px;
    left: 30px;
}
.checks img{
    margin-top: 20px;
}

@media only screen and (max-width: 667px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    .title{
        text-align: center;
        font-size: 12px;

    }
    .title h3{
        width: 200px;
    }
    .mainCont{
        width: 100%;
        max-width: 326px;
        height: 478px;
    }
    .sliderPageViews{
        top: 34px;
        left: 100px;
    }
    .slider{
        top: 90px;
        left: 24px;
        width: 280px;
    }
    .sliderValue{
        top: 140px;
        left: 80px;
    }
    .text{
        top: 216px;
        left: 26px;
    }
    .stats{
        text-align: center;
        left: 100px;
    }
    .checks{
        left: 80px;
    }
    button{
        top: 400px;
        left: 74px;
    }
    
    
}
  
  